# http://editorconfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

[*.{css,json,scss,yml}]
indent_style = space
indent_size = 2

# https://github.com/hashicorp/hcl/issues/111#issuecomment-205826983
[*.tf]
indent_style = space
indent_size = 2
